body{
 background-image: url("../img/ep_naturalwhite.png");
	background-image: url(510538464.jpg);
	font: 14px 'Verdana';
	margin: 0;
	padding: 0;
}
.dws-menu *{
 margin: 0px;
 padding: 0px;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
}
.dws-menu > ul li{
 position: relative;
}
.dws-menu > ul li:first-child{
}
.dws-menu > ul li:last-child{
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 background: #ae86b0;
 padding: 10px ;
 font-size: 14px;
 color: #ffffff;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 background: #ae86b0; 

 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #a53dfa;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}
iframe {
	border : 0px;
}